/* Global */
* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: black;
}

img {
    height: 100%;
    display: block;
    margin: 30px auto;
}

label {
    color: darkgreen;
}

.card-header-auth {
    color: #fff;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #04B120;
    border-bottom: 1px solid #04B120;
}

.card-body label {
    color: #fff;
}

.bg-darkgreen {
    background-color: darkgreen;
}

/* btn */

button:hover {
    transition: all 2s;
    background-color: green;
}